<!--  create appointment view
create treatment view (client) (front desk)       POST, GET CreateTreatment
- service
- person
- date picker
- drop down for available times in hour intervals
-->


<h1>Create Appointment</h1>



